@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf');
  font-weight: 100 900;
}
:root {
  --nc-primary: #ee4d2d;
  --nc-secondary-blue: #0046ab;
  --nc-secondary-yellow: #eda500;
  --nc-secondary-green: #26aa99;
  --nc-error: #ee2c4a;
  --nc-error-bg: #fff4f4;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.4rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.8);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.link {
  color: #ee4d2d;
  font-size: 1.4rem;
  cursor: pointer;
  text-decoration: none;
}
.nav-link {
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.3rem;
  cursor: pointer;
  text-decoration: none;
}
.nav-link:hover {
  color: #ee4d2d;
}
ul {
  list-style: none;
}
:focus-visible {
  outline: none;
}
button {
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
}
svg {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}
